span {
  width: 2rem;
  height: 0.25rem;
  background: var(--clr-dark);
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
